header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* font-weight: 800;
    font-weight: bolder; */
    font-size: 24px;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: rgb(161, 158, 158)
}

ul{
    flex: 0.5;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

/* HERO SECTION */
.hero-container{
    display: flex;
    padding: 5px 150px;
    padding-bottom: 100px;
    background-color: #1f2937;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.hero-p{
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    padding:5px 20px;
    border: none;
}