header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* font-weight: 800;
    font-weight: bolder; */
    font-size: 24px;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: rgb(161, 158, 158)
}

ul{
    flex: 0.5;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

/* HERO SECTION */
.hero-container{
    display: flex;
    padding: 5px 150px;
    padding-bottom: 100px;
    background-color: #1f2937;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.hero-p{
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    padding:5px 20px;
    border: none;
}

.main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    margin-bottom: 80px;
}

h2{
    font-family: 'Roboto', sans-serif;  
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile p{
    text-align: center;
    color: #e5e7eb;
}

.prof-group{
    display: flex;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    flex-direction: column;
    padding: 150px 100px;
}

.speaker{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    align-items: flex-end;
    margin-right: -400px;
    font-size: 24px;
    margin-bottom: 0px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 800px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.call-to-action{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 5px;
    align-items: center;
    padding: 30px 40px;
    gap: 100px;
}

h4{
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    margin: 0px;

}

.call-1 p{
    color: #e5e7eb;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.sign-2{
    border: solid;
    border-color: #F9FAF8;
    height: 30px;
    width: 100px;
}